.product-image {
  position: relative;
  display: inline-block;
  width: 100%;
  .discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
  }

  img {
    width: 100%;
    height: auto;
  }
}
