.table{
    .cellWrapper{
        display: flex;
        align-items: center;
        image{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
        }
    }
    .status{
        padding: 5px;
        border-radius: 5px;
        &.delivered{
            color: green;
            background-color: rgba(0 ,128,0, 0.151);
        }

        &.processing{
            color: goldenrod;
            background-color: rgba(189 ,189,3, 0.103);
        }
        &.shipped{
            color: rgb(74, 46, 253);
            background-color: rgba(85, 85, 86, 0.103);
        }
        &.cancelled{
            color: rgb(253, 94, 46);
            background-color: rgba(85, 85, 86, 0.103);
        }
    }
}